/** @format */

/////////////////// MIXINS
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/*   ~ test ~  */

/////////////////// VARIABLES
// SIZES
$icon-max-width: 30px;
$icon-min-width: 30px;
// $icon-max-height: 30px;
$icon-max-height: 34px;

$list-item-padding-horizontal: 16px;
$list-item-padding-vertical: 10px;

$sidebar-padding: 20px 0;
$sidebar-max-width: $icon-max-width + ($list-item-padding-horizontal * 2);
// $sidebar-max-width-on-hover: 180px;
$sidebar-max-width-on-hover: 220px;

$icon-container-height: $list-item-padding-vertical * 2 + $icon-max-height;
$icon-container-width: $sidebar-max-width;

$menu-position-left: $sidebar-max-width + 20px;

// COLORS
$icon-and-menu-item-color: #fff;
$sidebar-background-color: #5080bc;

$list-item-gradient-color--1: #7298bc;
$list-item-gradient-color--2: #ff70be;
$list-item-bottom-line-color: #fe6fbc;

$white: #fff;
$white-06: rgba(255, 255, 255, 0.6);
$white-01: rgba(255, 255, 255, 0.1);
$black-02: #0000001f;

// FONTS
$font-roboto: "Roboto", sans-serif;
