/** @format */
@import "./variables";

.sidebar {
  @include flex-column;
  height: calc(100% - 30px);
  background-color: $sidebar-background-color;
  max-width: $sidebar-max-width;
  justify-content: space-between;
  overflow: hidden;
  padding: $sidebar-padding;
  transition: all 1s;
  font-family: $font-roboto;

  &:hover {
    max-width: $sidebar-max-width-on-hover;
    cursor: pointer;
  }
}

.sidebar:hover .menu {
  visibility: visible;
  opacity: 1;
  transform: translate(0, -50%);
  left: $menu-position-left;
}

.list {
  list-style: none;
}

.list__item {
  position: relative;

  &:hover .icon {
    fill: $icon-and-menu-item-color;
  }

  &:hover .menu__item {
    color: $icon-and-menu-item-color;
  }
}

.icon-container {
  height: $icon-container-height;
  width: $icon-container-width;
  position: relative;
  background-color: $sidebar-background-color;
  z-index: 1000;
}

.icon {
  width: 100%;
  max-width: $icon-max-width;
  max-height: $icon-max-height;
  min-width: $icon-min-width;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgb($icon-and-menu-item-color, 0.6);
}

.menu {
  position: absolute;
  top: 50%;
  transform: translate(-100%, -50%);
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.menu__item {
  color: rgb($icon-and-menu-item-color, 0.6);
}
